<div class="container-md">
  <div *ngIf="isLoading">Loading...</div>
  <div *ngIf="!isLoading && !ad">Not Found</div>
  <div *ngIf="!isLoading && ad">
    <div class="row">
      <h1 class="col-6">{{ad.title}}</h1>
      <div class="col-6">
        <h4>Author:</h4>
        <p>{{ad.author.profile.firstName}} {{ad.author.profile.lastName}} <b>{{ad.author.profile.rating}}</b></p>
      </div>
    </div>

    <hr />

    <p>{{ad.body}}</p>

    <hr />

    <div class="row">
      <div class="col-6">
        <h6>Created at: {{ad.createdAt}}</h6>
        <h6>Modified at: {{ad.modifiedAt}}</h6>
      </div>
      <div class="col-6">
        <h6>Starts at: {{ad.startsAt}}</h6>
        <h6>Ends at: {{ad.endsAt}}</h6>
      </div>
    </div>

    <div *ngIf="isAuthor" class="ad__controllers">
      <a routerLink="/ads/{{ad.id}}/edit">Edit</a>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete ad</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this ad?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" (click)="delete()">Yes, Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
